.btn--link-primary {
  background: #e96125;
  color: #fff;
  font-size: 14px;
}

.btn--link {
  color: #e96125;
}

.btn--link:hover {
  color: #e96125;
  text-decoration: none;
}

.action-icon {
  cursor: pointer;
}
