.btn--link-primary {
  background: #e96125;
  color: #fff;
  font-size: 14px;
}

.btn--link {
  color: #e96125;
}

.btn--link:hover {
  color: #e96125;
  text-decoration: none;
}

.action-icon {
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .slider-header {
    p {
      font-size: 16px;
    }
  }
  .show-all-link {
    font-size: 14px;
  }
}
