.cart-header {
  background-color: rgb(28, 34, 36);
  color: #fff;
  .close {
    color: #fff;
  }
  .close:hover {
    color: #fff;
  }
}

button.btn {
  background-color: rgb(233, 97, 37);
  color: #fff;
}

button.btn:hover {
  color: #fff;
}
