@media (min-width: 769px) and (max-width: 2560px) {
  .w-lg-75 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1250px !important;
  }
}
