.navbar {
  background-color: rgb(28, 34, 36) !important;
  font-size: 14px;
}

#navbar {
  background-color: rgb(28, 34, 36) !important;
  color: #ffffff;
}

.navbar .navbar-brand {
  display: block;
  padding: 10px 28px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.08);
}

.navbar-menu .navbar-item {
  color: #ffffff;
}

.navbar-dropdown .navbar-item {
  color: black;
}

.navbar-link {
  color: #ffffff;
}

.navbar-link:hover {
  color: black;
}

.nav-link {
  color: black;
}

.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
  background-color: rgba(28, 34, 36, 0.8);
  color: #fff;
}

.header .shopping-cart {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 60px;
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.breadcrumb {
  background-color: inherit;
  font-size: 12px;
}

.breadcrumb-item a {
  color: black;
  font-weight: 100;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}
