.mobile-navigation {
  display: block;
  white-space: nowrap;
  font-size: 12px;
  overflow: auto;
}

.mobile-menu-list {
  padding: 0px;
}

.mobile-menu-list li {
  list-style: none;
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
}
