// mixins
@import './mixins';
@import './header';
@import './button';
@import './carousel';
@import './card';
@import './cart';
@import './container';
@import './modal';
@import './list';

html,
body {
  height: 100%;
  background-color: rgb(238, 238, 238) !important;
  font-family: 'Ubuntu', sans-serif !important;
}
* {
  touch-action: manipulation;
}
