.store-card-categories {
  background-color: #fff;
  border: 1px solid #eee;
}

.store-card-categories {
  min-height: 132px;
}

.slick-next,
.slick-prev {
  background-color: #6e6e6e;
  border: none;
  bottom: 0;
  // color: #ffff;
  cursor: pointer;
  font-size: 20px;
  height: 100%;
  margin: auto 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.slick-next,
.slick-prev:hover {
  background-color: #ccc !important;
}

.slider__arrow--bars {
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  height: 100%;
  opacity: 0.7;
  transition: background-color 0.1s ease-out;
  width: 26px;
}
.slider-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5rem;
}

.card-image {
  height: 140px;
  overflow: hidden;
  .image-wrapper {
    height: 100px;
    img {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1260px) {
  .store-card-container {
    padding-top: 20px;
  }
}
