.navbar {
  background-color: rgb(28, 34, 36) !important;
  font-size: 14px;
}

.navbar .navbar-brand {
  display: block;
  padding: 10px 28px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.08);
}

.navbar-menu .navbar-item {
  color: #ffffff;
}

.navbar-dropdown .navbar-item {
  color: black;
}

.navbar-link {
  color: #ffffff;
}

.navbar-link:hover {
  color: black;
}

.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
  background-color: rgba(28, 34, 36, 0.8);
  color: #fff;
}

.header .shopping-cart {
  background-image: url(//webcdn.grofers.com/images/header/cart_2x-1657d3d.png);
  background-size: 24px;
  cursor: pointer;
  padding-left: 38px;
  position: relative;
  width: 92px;
  background-position: 22px center;
  background-repeat: no-repeat;
}
